.profileCard{
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-top: 25px;
}
.BackButtonItemAdd{
    background-color: #005b8f;
    color: white;
    padding: 5px;
    margin-top: 15px;
    float: right;
}
.AddItemsButton{
    background-color: #F40F02;
    margin-left: 5px;
    color: white;
    float: right;
    padding: 5PX;
    margin-top: 15PX;
}
.BackButton{
    background-color: #005b8f;
    color: white;
    padding: 5px;
    margin-left: 15px;
    margin-top: 30px;
}

.ActiveOrders{
    background-color: #005b8f;
    color: white;
    padding: 5px;
    margin-left: 15px;
    margin-top: 30px;
}
.PDFButton{
    background-color: #F40F02;
    color: white;
    padding: 5px;
    margin-left: 15px;
    margin-top: 30px;
}
.dialogBackButton{
    background-color: #005b8f;
    color: white;
    padding: 5px;
}
.proceedButton{
    background-color: #F40F02;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    float: right;
}
.viewButton{
    background-color: #005b8f;
    color: white;
    padding: 5px;
    margin: 5px;
}
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 15%;
  }
.cardContainer{
border-radius: 15px;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);    
}
.gridList{
    margin-top: 25px;
    width: 90%;
    margin-left: 5%;
}
.orderComponents{
    margin-bottom: 10px;
    border-radius:5px;
    width: 85px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
}
.inputComponents{
    background-color: white;
    margin-left: 5%;
    margin-bottom: 10px;
    border-radius:5px;
    height: 60px;
}
::ng-deep .mat-form-field-underline {
    display: none;
  }
  .headerClothesOrder{
text-align: center;
padding: 10px;      
}
.submitButton{
    width: 80%;
    height: 40px;
    color: #ffffff;
    background-color: #005b8f;
}


  @media(max-width:700px)
  {
 
  }
  