<div class="RegisterBlock" id="Disciplines">
    <mat-progress-spinner class="loader" [diameter]="40" color="warn" mode="indeterminate" *ngIf="isLoading">
    </mat-progress-spinner>
    <h2 class="RegisterHeader">Login</h2>
    <mat-grid-list cols="1" rowHeight="90px" [formGroup]="loginForm">    
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="loginInputs">
                <mat-label><mat-icon aria-hidden="false" class="theIcon">mail_outline</mat-icon>&nbsp; Email (UserName)</mat-label>
                <input matInput formControlName="username" type="text">
                <mat-error *ngIf="loginForm.controls['username'].invalid">Your email address is required</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="loginInputs">
                <mat-label><mat-icon aria-hidden="false" class="theIcon">lock</mat-icon>&nbsp; Password</mat-label>
                <input matInput formControlName="password" type="password">
                <mat-error *ngIf="loginForm.controls['password'].invalid">Your password is required</mat-error>
            </mat-form-field>
        </mat-grid-tile>    
    </mat-grid-list>

    <mat-grid-list cols="1" rowHeight="90px">
        <mat-grid-tile>
            <button mat-raised-button class="registerButton" (click)=login()>Login</button>
        </mat-grid-tile>
    </mat-grid-list>
    <div style="text-align: center;">
        <a (click)=forgotPassword() style="color: gray; cursor: pointer; font-size: 13px; font-style: oblique;">Did you forgot your Password?</a>
    </div>
</div>
