ion-content {
    --ion-background-color: #ffffff;
}

.new-background-color {
    --background: #023e8a; //rgb(4, 4, 196)
  }
  .cardBlock{
      background-color: #023e8a;
      color: white;
      border-radius: 5px;
      height: 130px;
  }
  ion-col{
      text-align: center;
  }

  ion-icon{
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
  }

  .ion-label{
    font-size: 20px;
  }

  .backButton{
      color: white;
      --background: #023e8a !important;
      width: 70px;
  }

  .profileCardLeftDiv{
    width: 50%; 
    display: inline-block;
    float: left;
    font-size: 10px;
}
.profileCardRightDiv{
    width: 50%; 
    display: inline-block;
    float: right;
    text-align: right;
    margin-top: 23px;
}
.profileCardImage{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    vertical-align: middle;
}
.cardContainer{
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);   
    color: black; 
    width: 100%;
    height: 100%;
    margin-top: 5px;
    }

   