<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        <img class="TitleLogo" src="../../assets/images/logo.png">
        FishPal
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
  
    <div class="nav-links">
      <a href="../website/home">Home</a>
      <a href="#About">About</a>
      <a href="#Disciplines">Disciplines</a>
      <a href="#News">News</a>
      <a href="#Events">Events</a>
      <a href="#ContactUs">Contact Us</a>
      <a href="../account/login">Login</a>
      <a href="../account/register">Register</a>
    </div>
  
    <div class="footer">
      <p style="float: left;padding-top: 10px;">© 2022 FishPal. All Rights Reserved</p>
    </div>
  </div>