<mat-grid-list cols="2">

    <mat-grid-tile>
        <mat-card class="facetCard" style="background-color: #5e8aa3;">
            <div class="facetCardTitleAndDescription">
                <mat-grid-list cols="5">
                    <mat-grid-tile [colspan]="2">
                        <div class="facetCardTitle">Messages</div>
                    </mat-grid-tile>
                    <mat-grid-tile>Inbox</mat-grid-tile>
                    <mat-grid-tile>OutBox</mat-grid-tile>
                    <mat-grid-tile>Pending</mat-grid-tile>

                    <mat-grid-tile [colspan]="2"></mat-grid-tile>
                    <mat-grid-tile>
                        <label class="circle">
                            <span class="numberStyle">{{_number}}</span>
                        </label>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <label class="circle">
                            <span class="numberStyle">{{_number}}</span>
                        </label>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <label class="circle">
                            <span class="numberStyle">{{_number}}</span>
                        </label>
                    </mat-grid-tile>

                </mat-grid-list>
            </div>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="facetCard" style="background-color: #5e8aa3;">
            <div class="facetCardTitleAndDescription">
                <mat-grid-list cols="5">
                    <mat-grid-tile [colspan]="2">
                        <div class="facetCardTitle">Messages</div>
                    </mat-grid-tile>
                    <mat-grid-tile>Inbox</mat-grid-tile>
                    <mat-grid-tile>OutBox</mat-grid-tile>
                    <mat-grid-tile>Pending</mat-grid-tile>

                    <mat-grid-tile [colspan]="2"></mat-grid-tile>
                    <mat-grid-tile>
                        <label class="circle">
                            <span class="numberStyle">{{_number}}</span>
                        </label>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <label class="circle">
                            <span class="numberStyle">{{_number}}</span>
                        </label>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <label class="circle">
                            <span class="numberStyle">{{_number}}</span>
                        </label>
                    </mat-grid-tile>

                </mat-grid-list>
            </div>
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>