<div class="row">
    <div class="col-xl-3 col-md-11  col-sm-11 col-11 m-1">
          <!--document management left column-->
        <mat-card routerLink="/document-management/document-management" class="mb-1">
            <mat-card-header>
                <mat-card-title>Document Aknowledgement</mat-card-title>
            </mat-card-header>

            <mat-divider></mat-divider>

            <mat-card-content>
                <div class="row mt-1">
                    <div class="col-md-12 mb-05">
                        <div class="legend legend-positive inline-block vetical-bottom"></div>
                        <span class="inline-block vetical-super ml-05 legend-font">Acknowledged: {{aknowledged}}/{{totalDocs}}</span>
                    </div>
                    <div class="col-md-12 mb-05">
                        <div class="legend legend-negative inline-block vetical-bottom"></div>
                        <span class="inline-block vetical-super ml-05 legend-font">Unacknowledged: {{notAcknowledged}}/{{totalDocs}}</span>
                    </div>
                </div>
                <mat-progress-bar mode="determinate" value="{{documentAknowledgedPositiveValue}}"
                    class="progress-bar document-aknowledgement"></mat-progress-bar>
                    <div class="indicator-value left-15"> {{aknowledged}} </div>
                <div class="indicator-value right-15"> {{notAcknowledged}} </div>
            </mat-card-content>
        </mat-card>

        <!--courses enrolled left column-->
        <mat-card routerLink="/courses/courses" class="mb-1">
            <mat-card-header>
                <mat-card-title>Courses enrolled</mat-card-title>
            </mat-card-header>

            <mat-divider></mat-divider>

            <mat-card-content>
                <div class="row mt-1">
                    <div class="col-md-12 mb-05">
                        <div class="legend legend-positive inline-block vetical-bottom"></div>
                        <span class="inline-block vetical-super ml-05 legend-font">Approved: {{approvedEnrolled}}/{{enrolled}}</span>
                    </div>
                    <div class="col-md-12 mb-05">
                        <div class="legend legend-neutral inline-block vetical-bottom"></div>
                        <span class="inline-block vetical-super ml-05 legend-font">Unapproved: {{unapprovedEnrollments}}/{{enrolled}}</span>
                    </div>
                </div>
                <mat-progress-bar mode="determinate" value="{{coursesEnrolledPositiveValue}}"
                    class="progress-bar course-enrollment"></mat-progress-bar>
                    <div class="indicator-value left-15"> {{approvedEnrolled}} </div>
                    <div class="indicator-value right-15"> {{unapprovedEnrollments}} </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xl-4 col-md-11 col-sm-11 col-11 m-1">
        <!--latest events middle column-->
        <mat-accordion>
            <mat-expansion-panel (opened)="eventsPanelOpenState = true" (closed)="eventsPanelOpenState = false" class="mb-1">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Latest Events
                    </mat-panel-title>
                    <mat-panel-description>
                        All latest events
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
            </mat-expansion-panel>
        </mat-accordion>

          <!--days remaining before payment middle column-->
        <mat-card routerLink="/document-management/document-management" class="mb-1">
            <mat-card-header>
                <mat-card-title>Days remaining of year's subscription</mat-card-title>
            </mat-card-header>

            <mat-divider></mat-divider>

            <mat-card-content>
                <div class="row mt-1">
                    <div class="col-md-12 mb-05">
                        <div class="legend legend-positive inline-block vetical-bottom"></div>
                        <span class="inline-block vetical-super ml-05 legend-font">Days Remaining</span>
                    </div>
                    <div class="col-md-12 mb-05">
                        <div class="legend legend-negative inline-block vetical-bottom"></div>
                        <span class="inline-block vetical-super ml-05 legend-font">Total days</span>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-md-12 mb-05">
                        <mat-progress-spinner class="example-margin" [mode]="mode" [value]="daysBeforePaymentRemaining">
                        </mat-progress-spinner>
                        <span class="circle-value">{{daysBeforePaymentRemaining}}D</span>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-xl-4 col-md-11 col-sm-11 col-11 m-1">
        <!--documents aknowledged/unaknowledged right coloumn-->
        <mat-accordion class="mb-1">
            <mat-expansion-panel (opened)="documentsExpiryPanelOpenState = true"
                (closed)="documentsExpiryPanelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Document Expiry
                    </mat-panel-title>
                    <mat-panel-description>
                        Documents Expiry dates
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>


