<div class="RegisterBlock" id="Disciplines">
    <mat-progress-spinner class="loader" [diameter]="40" color="warn" mode="indeterminate" *ngIf="isLoading">
    </mat-progress-spinner>
    <h2 class="RegisterHeader">Reset Password</h2>
    <mat-grid-list cols="1" rowHeight="90px" [formGroup]="resetForm">    
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="loginInputs">
                <mat-label><mat-icon aria-hidden="false" class="theIcon">lock</mat-icon>&nbsp; Password</mat-label>
                <input matInput formControlName="password" type="password">
                <mat-error *ngIf="resetForm.controls['password'].invalid">Your password is required</mat-error>
            </mat-form-field>
        </mat-grid-tile>  
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="loginInputs">
                <mat-label><mat-icon aria-hidden="false" class="theIcon">lock</mat-icon>&nbsp;Confirm Password</mat-label>
                <input matInput formControlName="cpassword" type="password">
                <mat-error *ngIf="resetForm.controls['cpassword'].invalid">Your confirmation password is required</mat-error>
            </mat-form-field>
        </mat-grid-tile>    
    </mat-grid-list>

    <mat-grid-list cols="1" rowHeight="90px">
        <mat-grid-tile>
            <button mat-raised-button class="registerButton" (click)=reset()>Reset</button>
        </mat-grid-tile>
    </mat-grid-list>
</div>
