@media (max-width:700px) {
    .test{
background-color: brown;
    }
}
.newMessage{
    background-color: #005b8f;
    color: white;
    padding: 5px;
    margin-left: 15px;
    margin-top: 30px;
}
.example-card {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    margin-left: 5%;
    margin-top: 15px;
    //border-left: 60px solid #005b8f;
    background-color: #30779f;
    color: #fff;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  ::ng-deep .mat-dialog-container{
      width: 100%;
  }