<div class="WelcomePageBlock">
    <div class="BGImageWithItemsOnTop">
      <img src="../../assets/images/welcomepageblock.jpg" class="cover fade-in">
      <div class="mainPageTitleAndButtons">
        <div class="MainPageTitle">
          <!--Welcome To SASACC!-->
        </div>
        <div class="mainPageLoginRegisterButtonContainer">
          <!--<button mat-button class="mainPageLoginRegisterButtons" routerLink="../login">Login</button>
          <button mat-button class="mainPageLoginRegisterButtons" routerLink="../register">Register</button>-->
        </div>
      </div>
    </div>
  
    <div class="AboutUsCard" id="About">
      <div class="AboutUsText">
        <h2 class="AboutUsDescription">Overview</h2>
        The South African Sports Angling and Casting Confederation (SASACC) is the governing body and controlling 
        body of competitive angling in South Africa. SASACC is thus custodians of the angling sport in South Africa 
        and is affiliated to the is the SA Olympic Committee (SASCOC) as well as the international Confederation of 
        Sport Fishing (CIPS) and the international angling federations namely FIPS-M for saltwater disciplines, 
        FIPSed for freshwater disciplines and FIPS-Mouche for the fly-fishing discipline. SASACC is also a member of 
        the newly established African Association of Sport Fishing (AAPS). SASACC consist out of 8 national associations 
        and federations of which they participate in about 19 angling disciplines.
      </div>
    </div>
  
    <div class="DisciplinesBlock" id="Disciplines">
      <h2 class="facetsHeader">OUR DISCIPLINES</h2>
      <mat-grid-list cols="1" rowHeight="150px">
        <mat-grid-tile style="text-align: center;">
          <mat-card class="sasaccFacetCard"><img class="sasaccFacetsLogo" src="../../assets/images/SASSAC_logo.png">
            <div class="facetCardTitleAndDescription">
              <div class="facetCardTitle">SASACC</div>
              <div class="facetCardDescription">South African Sport Anglers & Casting Confederation</div>
            </div>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="2" rowHeight="150px">
       
        <mat-grid-tile>
          <mat-card class="facetCard"><img class="FacetsLogo" src="../../assets/images/saalaa_logo.png">
            <div class="facetCardTitleAndDescription">
              <div class="facetCardTitle">SAALAA</div>
              <div class="facetCardDescription">South African Artificial Lure Angling Association</div>
            </div>
          </mat-card>
        </mat-grid-tile>
  
        <mat-grid-tile>
          <mat-card class="facetCard"><img class="FacetsLogo" src="../../assets/images/SAFFA_Logo.png">
            <div class="facetCardTitleAndDescription">
              <div class="facetCardTitle">SAFFA</div>
              <div class="facetCardDescription">South African Fly Fishing Association</div>
            </div>
          </mat-card>
        </mat-grid-tile>
  
        <mat-grid-tile>
          <mat-card class="facetCard"><img class="FacetsLogo" src="../../assets/images/SACSCF_logo.png">
            <div class="facetCardTitleAndDescription">
              <div class="facetCardTitle">SACSCF</div>
              <div class="facetCardDescription">South African Casting & Surf Casting Federation</div>
            </div>
          </mat-card>
        </mat-grid-tile>
  
        <mat-grid-tile>
          <mat-card class="facetCard"><img class="FacetsLogo" src="../../assets/images/sasaa_logo.png">
            <div class="facetCardTitleAndDescription">
              <div class="facetCardTitle">SASAA</div>
              <div class="facetCardDescription">South African Shore Angling Association</div>
            </div>
          </mat-card>
        </mat-grid-tile>
  
        <mat-grid-tile>
          <mat-card class="facetCard"><img class="FacetsLogo" src="../../assets/images/SADSAA_logo.png">
            <div class="facetCardTitleAndDescription">
              <div class="facetCardTitle">SADSAA</div>
              <div class="facetCardDescription">South African Deep Dea Angling Association</div>
            </div>
          </mat-card>
        </mat-grid-tile>
  
        <mat-grid-tile>
          <mat-card class="facetCard"><img class="FacetsLogo" src="../../assets/images/SAUFF_logo.png">
            <div class="facetCardTitleAndDescription">
              <div class="facetCardTitle">SAUFF</div>
              <div class="facetCardDescription">South African Underwater Fishing Federation</div>
            </div>
          </mat-card>
        </mat-grid-tile>
  
        <mat-grid-tile>
          <mat-card class="facetCard"><img class="FacetsLogo" src="../../assets/images/SABAA_logo.png">
            <div class="facetCardTitleAndDescription">
              <div class="facetCardTitle">SABAA</div>
              <div class="facetCardDescription">South African Bass Angling Association</div>
            </div>
          </mat-card>
        </mat-grid-tile>
  
        <mat-grid-tile>
          <mat-card class="facetCard"><img class="FacetsLogo" src="../../assets/images/SALTBAA_logo.png">
            <div class="facetCardTitleAndDescription">
              <div class="facetCardTitle">SALTBAA</div>
              <div class="facetCardDescription">South African Light Tackle boat Association</div>
            </div>
          </mat-card>
        </mat-grid-tile>
  
        <mat-grid-tile>
          <mat-card class="facetCard"><img class="FacetsLogo" src="../../assets/images/SAFBAF_Logo.png">
            <div class="facetCardTitleAndDescription">
              <div class="facetCardTitle">SAFBAF</div>
              <div class="facetCardDescription">South African Freshwater Bank Angling Association</div>
            </div>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  
    <div class="LatestNewsBlock" id="News">
      <h2 class="latestNewsHeader">Latest News</h2>
    </div>
  
    <div class="CalendarOfEventsBlock" id="Events">
      <h2 class="CalendarOfEventsHeader">Events Calendar</h2>
    <iframe width="100%" height="700" src="https://calendar.fishpal.co.za/" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  
    <div class="GetInTouchBlock" id="ContactUs">
      <h2 class="latestNewsHeader">Get In Touch</h2>
    </div>
  
    <div class="SignUpNowBlock">
      <h2 class="SignUpNowHeader">Sign Up Now</h2>
    </div>
    
  <div class="toggleDetailBlockAboveFooterForWeb">
    <mat-grid-list cols="3" rowHeight="1:1">
      <mat-grid-tile>
        <img class="FooterLogo" src="../../assets/images/sasacc_main_logo.png">
      </mat-grid-tile>
  
      <mat-grid-tile>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <h2 class="footerItems">Quick Links</h2>
          </mat-list-item>
          <mat-list-item role="listitem"><a class="footerItems" href="#About">About</a></mat-list-item>
          <mat-list-item role="listitem"><a class="footerItems" href="#Disciplines">Disciplines</a></mat-list-item>
          <mat-list-item role="listitem"><a class="footerItems" href="#News">News</a></mat-list-item>
          <mat-list-item role="listitem"><a class="footerItems" href="#Events">Events</a></mat-list-item>
          <mat-list-item role="listitem"><a class="footerItems" href="#ContactUs">Contact Us</a></mat-list-item>
        </mat-list>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  
  <div class="toggleDetailBlockAboveFooterForMobile">
    <mat-grid-list cols="2" rowHeight="0.5:1">
      <mat-grid-tile>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <h2 class="footerItems">Quick Links</h2>
          </mat-list-item>
          <mat-list-item role="listitem"><a class="footerItems" href="#About">About</a></mat-list-item>
          <mat-list-item role="listitem"><a class="footerItems" href="#Disciplines">Disciplines</a></mat-list-item>
          <mat-list-item role="listitem"><a class="footerItems" href="#News">News</a></mat-list-item>
          <mat-list-item role="listitem"><a class="footerItems" href="#Events">Events</a></mat-list-item>
          <mat-list-item role="listitem"><a class="footerItems" href="#ContactUs">Contact Us</a></mat-list-item>
        </mat-list>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  
  </div>