.RegisterBlock{
    background-color: #ffffff;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    height: auto;
    border-radius: 15px;
    padding: 30px;
    border: 1px solid #005b8f;
}
.RegisterHeader{
text-align: center;
color: #005b8f;
font-size: 40px;
}
.SecondHeader{
    text-align: center;
    color: #005b8f;
}
.theIcon{
    vertical-align: middle;
    color: rgb(0, 0, 0);
  }
  .registerInputsFishing{
      width: 90%;
  }
  .registerInputsPersonalLeft{
    width: 88%;
    margin-left: 10%;
    margin-right: 2%;
}
.registerInputsPersonalRight{
    width: 88%;
    margin-right: 10%;
    margin-left: 2%;
}
.splitLine{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
}
.registerButton{
    width: 40%;
    height: 50px;
    color: #ffffff;
    background-color: #005b8f;
}
.fillerDiv{
    height: 70px;
}
section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
