<div id="Disciplines">
    <mat-progress-spinner class="loader" [diameter]="40" color="warn" mode="indeterminate" *ngIf="isLoading">
    </mat-progress-spinner>

    <h2 class="RegisterHeader">Personal Information Page</h2>

    <!-- <mat-slide-toggle style="padding-left: 7.5em;">Summary view</mat-slide-toggle> -->
    <hr class="splitLine">

    <mat-grid-list cols="2" rowHeight="90px">
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="registerInputsPersonalLeft">
                <mat-label>
                    <mat-icon aria-hidden="false" class="theIcon">person</mat-icon>&nbsp; FullNames
                </mat-label>
                <input [(ngModel)]="personalInformation.name" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="registerInputsPersonalLeft">
                <mat-label>
                    <mat-icon aria-hidden="false" class="theIcon">person</mat-icon>&nbsp; Nickname
                </mat-label>
                <input [(ngModel)]="personalInformation.nickName" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="registerInputsPersonalLeft">
                <mat-label>
                    <mat-icon aria-hidden="false" class="theIcon">person</mat-icon>&nbsp; Surname
                </mat-label>
                <input [(ngModel)]="personalInformation.surname" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="registerInputsPersonalLeft">
                <mat-label>
                    <mat-icon aria-hidden="false" class="theIcon">assignment_ind</mat-icon>&nbsp; ID Number
                </mat-label>
                <input [(ngModel)]="personalInformation.idNumber" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <button style="margin-bottom: 20px; padding-bottom: 5px;" mat-button (click)="CSVFile.click()">
                <mat-icon style="margin-right: 5px; margin-bottom: 5px;">backup</mat-icon>
                Attach Copy of ID...
            </button>
            <input hidden type="file" accept=".pdf" id="File" #CSVFile (change)="OpenFile($event)">
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="registerInputsPersonalLeft">
                <mat-label>Date Of Birth</mat-label>
                <input [(ngModel)]="personalInformation.dob" matInput [matDatepicker]="picker">
                <mat-hint>YYYY/MM/DD</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="registerInputsPersonalLeft">
                <mat-label>
                    <mat-icon aria-hidden="false" class="theIcon">language</mat-icon>&nbsp; Nationality
                </mat-label>
                <input [(ngModel)]="personalInformation.nationality" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="registerInputsPersonalLeft">
                <mat-label>
                    <mat-icon aria-hidden="false" class="theIcon">accessibility_new</mat-icon>&nbsp; Ethnic Group
                </mat-label>
                <input [(ngModel)]="personalInformation.ethnicGroup" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="registerInputsPersonalLeft">
                <mat-label>
                    <mat-icon aria-hidden="false" class="theIcon">wc</mat-icon>&nbsp; Gender
                </mat-label>
                <input [(ngModel)]="personalInformation.gender" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="registerInputsPersonalLeft">
                <mat-label>
                    <mat-icon aria-hidden="false" class="theIcon">assignment_ind</mat-icon>&nbsp; Passport Number
                </mat-label>
                <input [(ngModel)]="personalInformation.passportNumber" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="registerInputsPersonalLeft">
                <mat-label>Passport Expiration Date</mat-label>
                <input [(ngModel)]="personalInformation.passportExpirationDate" matInput [matDatepicker]="picker1">
                <mat-hint>YYYY/MM/DD</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <button style="margin-bottom: 20px; padding-bottom: 5px;" mat-button (click)="PASSPORTFile.click()">
                <mat-icon style="margin-right: 5px; margin-bottom: 5px;">backup</mat-icon>
                Attach Copy of Passport...
            </button>
            <input hidden type="file" accept=".pdf" id="File" #PASSPORTFile (change)="OpenFile($event)">
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="registerInputsPersonalLeft">
                <mat-label>
                    <mat-icon aria-hidden="false" class="theIcon">home</mat-icon>&nbsp; Home Address
                </mat-label>
                <textarea [(ngModel)]="personalInformation.homeAddress" matInput></textarea>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="registerInputsPersonalLeft">
                <mat-label>
                    <mat-icon aria-hidden="false" class="theIcon">home</mat-icon>&nbsp; Postal Address
                </mat-label>
                <textarea [(ngModel)]="personalInformation.postalAddress" matInput></textarea>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="registerInputsPersonalLeft">
                <mat-label>
                    <mat-icon aria-hidden="false" class="theIcon">mail</mat-icon>&nbsp; Email Address (Username)
                </mat-label>
                <input [(ngModel)]="emailAddress" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="registerInputsPersonalLeft">
                <mat-label>
                    <mat-icon aria-hidden="false" class="theIcon">phone</mat-icon>&nbsp; Phone (Home)
                </mat-label>
                <input [(ngModel)]="personalInformation.phone" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="registerInputsPersonalLeft">
                <mat-label>
                    <mat-icon aria-hidden="false" class="theIcon">phone</mat-icon>&nbsp; Phone (Work)
                </mat-label>
                <input [(ngModel)]="personalInformation.phone" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="registerInputsPersonalLeft">
                <mat-label>
                    <mat-icon aria-hidden="false" class="theIcon">phone</mat-icon>&nbsp; Cell No.
                </mat-label>
                <input [(ngModel)]="personalInformation.cell" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="registerInputsPersonalLeft">
                <mat-label>
                    <mat-icon aria-hidden="false" class="theIcon">assignment_ind</mat-icon>&nbsp; Skippers License Number
                </mat-label>
                <input [(ngModel)]="personalInformation.skipperLicenseNumber" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <button style="margin-bottom: 20px; padding-bottom: 5px;" mat-button (click)="SKIPPERFile.click()">
                <mat-icon style="margin-right: 5px; margin-bottom: 5px;">backup</mat-icon>
                Attach Copy of Skippers License...
            </button>
            <input hidden type="file" accept=".pdf" id="File" #SKIPPERFile (change)="OpenFile($event)">
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="1" rowHeight="90px">
        <mat-grid-tile>
            <button mat-raised-button class="registerButton" (click)=update()>Save Changes</button>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div class="fillerDiv"></div>