.RegisterBlock{
    background-color: #ffffff;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    height: auto;
    border-radius: 15px;
    padding: 30px;
    border: 1px solid #06602C;
}
.RegisterHeader{
text-align: center;
color: #06602C;
font-size: 40px;
}
.theIcon{
    vertical-align: middle;
    color: rgb(0, 0, 0);
  }
  .registerInputsFishing{
      width: 90%;
  }
  .registerInputsPersonalLeft{
    width: 88%;
    margin-left: 10%;
    margin-right: 2%;
}
.registerInputsPersonalRight{
    width: 88%;
    margin-right: 10%;
    margin-left: 2%;
}
.splitLine{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
}
.registerButton{
    width: 40%;
    height: 50px;
    color: #FECD00;
    background-color: #06602C;
}
.fillerDiv{
    height: 70px;
}
