<div class="login-container" fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <div class="logo" fxLayout="row" fxLayoutAlign="center center">
            <img fxFlex="70" src="../../assets/newLogo.jpg">
        </div>
  
        <form fxLayout="row wrap" fxLayoutAlign="center center" novalidate [formGroup]="loginForm">
            <h2 style="width: 100%; text-align: center;">Registration</h2>
            <mat-form-field fxFlex="80">
                <input matInput
                       formControlName="username"
                       type="email"
                       placeholder="Email">
                <mat-error  *ngIf="loginForm.controls['username'].invalid">Your email is required</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="80">
                <input matInput
                       formControlName="phone"
                       type="text"
                       placeholder="Mobile number">
                <mat-error  *ngIf="loginForm.controls['username'].invalid">Your mobile number is required</mat-error>
            </mat-form-field>
  
            <mat-form-field fxFlex="80">
                <input matInput
                       formControlName="password"
                       type="password"
                       placeholder="Password">
                <mat-error  *ngIf="loginForm.controls['password'].invalid">Your password is required</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="80">
                <input matInput
                       formControlName="confirmPassword"
                       type="password"
                       placeholder="Confirm Password">
                <mat-error  *ngIf="loginForm.controls['password'].invalid">Your confirm password is required</mat-error>
            </mat-form-field>

  
            <button class="btn-sign-in"
                    mat-raised-button
                    fxFlex="25"
                    color="warning"
                    [disabled]="loginForm.invalid"
                    (click)=register()>
                REGISTER
            </button>
            <mat-progress-spinner style="min-width: 10px" [diameter]="40" mode="indeterminate" *ngIf="isLoading"></mat-progress-spinner>
        </form>
  
    </mat-card>
  </div>
  