
<div>
    <mat-progress-spinner class="loader" [diameter]="40" color="warn" mode="indeterminate" *ngIf="isLoading">
    </mat-progress-spinner>

    <h2 class="RegisterHeader">Angling Administration History</h2>

    <h4 class="SecondHeader">SAALAA Management Commitee</h4>
    <hr class="splitLine">

    <mat-grid-list cols="2" rowHeight="90px">
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="registerInputsPersonalLeft">
                <mat-label>
                    <mat-icon aria-hidden="false" class="theIcon">date_range</mat-icon>&nbsp; Year
                </mat-label>
                <input [(ngModel)]="selectedYear" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="registerInputsPersonalLeft">
                <mat-label>
                    <mat-icon aria-hidden="false" class="theIcon">shopping_basket</mat-icon>&nbsp; Capacity
                </mat-label>
                <input [(ngModel)]="selectedCapacity" matInput>
            </mat-form-field>
            <div class="example-button-container">
                <button (click)=addToList() style="background-color: lightgreen; margin-bottom: 2em;" mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
        </mat-grid-tile>
    </mat-grid-list>
    <div style="max-height: 200px; overflow-y: scroll; width: 90%; margin-left: 5%;">
        <ul *ngFor="let anglishAdministrationHistories of anglishAdministrationHistory;">
            <div style="display: inline-block;">
                <span style="display: inline-block; margin-right: 20px;">•  {{anglishAdministrationHistories.capacity}}</span>
                <span style="display: inline-block; margin-right: 20px;">{{anglishAdministrationHistories.year}}</span>
                <span style="display: inline-block;">
                    <div class="example-button-container;">
                        <button (click)=removeFromList(anglishAdministrationHistories) style="background-color: red; margin-bottom: 2em;" mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                          <mat-icon>remove</mat-icon>
                        </button>
                      </div>
                </span>
            </div> 
        </ul>
    </div>

    <mat-grid-list cols="1" rowHeight="90px">
        <mat-grid-tile>
            <button color="primary" mat-raised-button class="registerButton" (click)=update()>Save Changes</button>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div class="fillerDiv"></div>
