.verification-page{
    height: 100vh;
    width: 100%;
}
.verification-image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.verification-image-container{
    text-align: center;
}
.verification-message{
    color: grey;
}